body {
	font-family: Verdana, sans-serif;
	color: #333;

}

.Site {}

.Site-wrapper {
	max-width: 1400px;
  
}

.mainMenu {
  text-align: center;
  padding-bottom: 70px;
}

.MainMenu-items {
  margin: 10px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.75;
  
}

header {
text-align: center;
background-image: url("http://www.tjejerkodar.se/image/lila_pattern.png");
padding: 40px;
color: #ffffff;
}
    
.intro h1 {
font-size: 3rem;

  }

.intro .button {
  background: #5EFCDB;
  padding: 20px 30px 20px 30px;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}


.currentEvents {
  text-align: center;
   
}
.currentEvents-list {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;  
}

.currentEvents-box {
  width: 290px;
  height: 290px;
  margin: 10px;
  background-image: url("http://www.tjejerkodar.se/image/ljuslila_pattern.png");
  font-family: "brandon-grotesque";
  font-size: 20px;
  padding: 10px 0px 0px 10px;
  text-align: center;
  padding-top: 70px;
}

.currentEvents-box a {
  text-decoration: none;
  color: #333;
}

.city {
  background-color: #ffffff;
  padding: 9px;
  margin: 25px;
}




